html {
  background-color: khaki;
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: Open Sans
}
body{
  width: 1000px;
  margin: 0 auto;
  background-color: lawngreen;
  padding: 0 20px 20px 20px;
  border: 5px solid yellow;
}
h1{
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: aqua;
  text-shadow: 3px 3px 1px black;
}
p, li {
font-size: 16px;
line-height: 2;
letter-spacing: 1px;
background-color: green;
text-shadow: hotpink;
}
img{
  display: block;
  margin: 0 auto;
}